<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049629314403-e5dv48i056fdohbhegsmf9vu4vub85c9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049629314403-e5dv48i056fdohbhegsmf9vu4vub85c9</string>
	<key>API_KEY</key>
	<string>AIzaSyC7aE0zPpZVQbYYOQxZA15lfqJ9UHzJTmM</string>
	<key>GCM_SENDER_ID</key>
	<string>1049629314403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.catmeox.Tripsmory</string>
	<key>PROJECT_ID</key>
	<string>tripsmory</string>
	<key>STORAGE_BUCKET</key>
	<string>tripsmory.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049629314403:ios:9aa5e8b989e6964c531756</string>
</dict>
</plist>