<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85061701800-oaivgcveogejcm20kfti123dq5nnusjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85061701800-oaivgcveogejcm20kfti123dq5nnusjl</string>
	<key>API_KEY</key>
	<string>AIzaSyCjICcwaXu7V3xDWyM6Pzg_0WCo3oXyG0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>85061701800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.catmeox.tripsmory</string>
	<key>PROJECT_ID</key>
	<string>tripsmory-9999</string>
	<key>STORAGE_BUCKET</key>
	<string>tripsmory-9999.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85061701800:ios:2112e3fe0baa37cd56329d</string>
</dict>
</plist>