<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb645152657097891</string>
				<string>com.googleusercontent.apps.1049629314403-e5dv48i056fdohbhegsmf9vu4vub85c9</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>645152657097891</string>
	<key>FacebookClientToken</key>
	<string>b19280a381dfe60009509f18054799e4</string>
	<key>FacebookDisplayName</key>
	<string>Tripsmory</string>
	<key>GIDClientID</key>
	<string>1049629314403-e5dv48i056fdohbhegsmf9vu4vub85c9.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Jost-VariableFont_wght.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>lunchScreen</string>
		<key>UIImageName</key>
		<string>meow</string>
	</dict>
</dict>
</plist>
